<div class="pt-4"> <!-- add bottom padding -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {{ $cards := slice
      (dict "image" "/images/user.png" "title" "About" "text" "OWASP AI Exchange is the open-source platform driving global AI security standards..." "link" "/goto/about/")
      (dict "image" "/images/Network-Users--Streamline-Ultimate.png" "title" "Connect with us" "text" "Connect with us through various platforms..." "link" "/connect")
      (dict "image" "/images/Multiple-Neutral-2--Streamline-Ultimate.svg.png" "title" "Contribute" "text" "Help shape the future of AI security by contributing to our resources and standards." "link" "/contribute")
      (dict "image" "/images/Group 1597883587.png" "title" "Sponsor" "text" "Support our mission and gain visibility in the AI security community." "link" "/sponsor")
      (dict "image" "/images/Group 1597883588.png" "title" "Media" "text" "Watch conference talks, webinars, and educational content from our experts." "link" "/media")
      (dict "image" "/images/periodic_table_icon.png" "title" "Periodic table" "text" "Explore our comprehensive periodic table of AI threats and controls." "link" "/goto/periodictable/")
    }}

    {{ range $cards }}
    <div
      class="h-[170px] p-6 border border-gray-300 rounded-xl shadow-md flex flex-col items-start justify-between hover:shadow-lg transition-shadow w-full">
      <div class="flex mb-4">
        <img src="{{ .image }}" alt="{{ .title }}" class="mr-2" />
        <h4 class="text-lg font-bold text-gray-900">{{ .title }}</h4>
      </div>
      <p class="text-gray-600 text-left text-md mb-4 leading-snug text-[16px] font-medium">{{ .text }}</p>
      <a href="{{ .link }}" class="text-green-500 font-semibold hover:underline text-md">
        Learn more >
      </a>
    </div>
    {{ end }}
  </div>
</div>
