  <meta charset="utf-8" />
  <script src="https://cdn.tailwindcss.com"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
  <meta name="description" content="{{ with site.Params.description }}{{ . }}{{ end }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css"/>

  <link rel="stylesheet" href="/css/site.css?v=1" />
  <link rel="stylesheet" href="/css/custom-style.css?v=1" />
  <script src="/js/script.js"></script>
  <!-- CDNs -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init({
      delay: 0,
      disable: 'phone',
    });
  </script>
  {{- range .AlternativeOutputFormats -}}
  <link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
  {{- end -}}

